import { Component } from '@angular/core';
import { RouterLink } from '@angular/router';
import { AuthService } from '../auth.service';

@Component({
  selector: 'app-home',
  standalone: true,
  imports: [RouterLink],
  template: `


})
    <div class="home-container">
      <h1>Bienvenue sur E-Learning Academy</h1>

      <button routerLink="/courses" class="btn-primary">
        Voir les cours
      </button>

      <div class="auth-buttons">
        <button (click)="login()" class="btn-success">
          Login
        </button>

        <button (click)="logout()" class="btn-danger">
          Logout
        </button>
      </div>
    </div>
    
export class HomeComponent {

  constructor(private auth: AuthService) {}

  login() {
    this.auth.login();
  }

  logout() {
    this.auth.logout();
  }
}