
.home {
  padding: 10px ;
  background-color: #f5f5f5;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  color: #1a1a2e;
  margin-bottom: 2rem;
  text-align: center;
}

.btn-courses {
   padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
}

.btn-courses:hover {
  background-color: #16213e;

}