nav {
    background: #111;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    cursor: pointer;
}

nav a.active {
    color: #00bcd4;
}
